.product-list {
    position: relative;
    width: 90%;
    right: 5%;
    max-width: 600px;
    height: 150px;
    border: 1px #77AA44;
    border-radius: 15px;
    margin: 1rem auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(119,170,68,0.6);
    transition: 0.3s;    
}

.product-list .product-image {
    position: relative;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    position: relative;
    right: 35%;
    width: 30%;
    height: 100%;
    margin: 1rem auto;
    background-color: transparent;
    text-align: center;
}

.product-list .product-image .product-image-tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}
