.product-list {
    position: relative;
    width: 90%;
    left: 0px;
    max-width: 90%;
    height: 150px;
    border: 1px #77AA44;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(119,170,68,0.6);
    transition: 0.3s;    
    margin: 1rem;
    list-style: none;
}

.product-list .product-image {
    position: absolute;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    width: 28%;
    height: 90%;
    left: 1%;
    top: 5%;
    background-color: transparent;
}

.product-list .product-image .product-image-tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

.product-list .product-info {
    position: absolute;
    left: 30%;
    height: 90%;
    width: 70%;
    font-size: 10px;
}

.product-list .product-info .product-title {
    position: relative;
    left: 2%;
    top: 7%;
    width: 70%;
    max-height: 30%;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-list .product-info .product-price {
    position: absolute;
    top: 7%;
    right: 5%;
    max-width: 20%;
    font-size: 14pt;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-list .product-info .product-description {
    position: relative;
    left: 2%;
    width: 90%;
    height: 82%;
    top: 8%;
    font-size: 14pt;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
}


