/* 
 * General 
 */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: #fff;
    background: rgba(119, 170, 68, .15);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

a {
  color: #EB1936;
  text-decoration: none;
}

/* 
 * Small devices 
 */
@media only screen and (max-device-width: 480px) {
    body {
        font-size: 14px;
    }
}



/*
 * Footer
 */
.panel-footer {
    position: relative;
    left: -30px;
    margin: 10px auto 20px;
    text-align: center;
}

.panel-footer p {
    padding-bottom: 20px;
}

/*
 * Text
 */
.std-text-div {
    position: relative;
    width: 70%;
    right: 30px;
    margin: auto auto auto 10px;
    text-align: left;
}

/*
 * Products
 */
div.product-list {
    position: relative;
    width: 90%; 
    right: 5%;
    max-width: 600px;
    height: 150px; 
    border: 1px #77AA44; 
    margin: 1rem auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(119,170,68,0.6);
    transition: 0.3s;
}

div.product_main {
    height: 300px; 
    width: 90%;/*700px;*/ 
    position: relative; 
    margin: 1rem auto;
}

div.product_main div.product-image {
    height: 100%;
    width: 40%;
}

div.product_main div.product-info {
    position: absolute; 
    width: 58%;  
    height: 100%;
    left: 40%; 
    top: 0px;
    padding-left: 2%;
}

div.product_main div.product-title {
    height: 130px; 
    width: 100%; 
    border-bottom: 1px solid green;
}

div.product_main div.product-price {

}

div.product_description {
    background-color: rgba(119,170,68,0.4);
    position: relative; 
    margin: 1rem auto;
    width: 90%;
    top: 0px;
}

div.standards_container {
    position: relative; 
    margin: 1rem auto;
    width: 90%;
    top: 0px;
}

div.category {
    height: 50px; 
    width: 40%; 
    position: relative; 
    margin: 1rem auto; 
    background-color: rgba(119,170,68,0.6);
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(119,170,68,0.6);
    transition: 0.3s;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 17px;
}



/*
 * Forms 
 */
input {
    ::-webkit-input-placeholder {
        color: rgba(255,255,255,0.7);
    }
    ::-moz-placeholder {
        color: rgba(255,255,255,0.7);
    }
    :-ms-input-placeholder {
        color: rgba(255,255,255,0.7);
    }
    &:focus {
        outline: 0 transparent solid;
        ::-webkit-input-placeholder {
            color: rgba(0,0,0,0.7);
        }
        ::-moz-placeholder {
            color: rgba(0,0,0,0.7);
        }
        :-ms-input-placeholder {
            color: rgba(0,0,0,0.7);
        }
    }
}

.sleek-form {
    min-height: 10rem;
    margin: auto;
    padding: .5rem;
}

.form-text, .form-password {
    position: relative;
    left: -30px;
    margin: 1rem auto;
    padding: .5rem;

    background: transparent;
    outline: none;
    border: 0 solid;
    border-bottom: 1px solid green;
    color: black;

    display: block;
    width: 70%; 
    max-width: 460px;

    transition: 250ms background ease-in;
}

.form-text:focus, .form-password:focus {
    background: #CCCCCC;
    color: black;
    transition: 250ms background ease-in;
}

.form-err {
    position: relative;
    left: -30px;
    margin: 1rem auto;
    padding: .5rem;

    background: #FAE4E4;
    outline: none;
    border: 0 solid;
    border-bottom: 1px solid red;
    color: black;
    
    display: block;
    width: 70%; 
    max-width: 460px;

    transition: 250ms background ease-in;
}

.form-submit {
    position: relative;
    left: -30px;
    margin: 1rem auto;
    padding: .25rem;
    
    background: transparent;
    border: 1px solid green;
    color: green;
    
    display: block;
    width: 50%;
    height: 60px;
    font-size: 22px;
    min-width: 3px;
    max-width: 460px;
    
    transition: 250ms background ease-in;
}

.form-submit:hover, .form-submit:focus {
    background: green;
    color: white;
    transition: 250ms background ease-in;
}

/* errors and flashes */
div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    width: 90%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
