{% extends "layout.html" %}
{% block title %}
    Category page
{% endblock %}
{% block header %}
    {{ self.title() }}
{% endblock %}
{% block main %}
    {% if category %}
        <em>Products in category "{{ category }}":</em>
    {% else %}
        <em>No category "{{ category }}"</em>
    {% endif %}

    {% if product %}
        <ul class="category-products">
        {% for p in product %}
            <li><em><a href={{ url_for('show_product', product_id=p.product_id) }}>{{ p.title }}</a></em> 
        {% endfor %} 
        </ul>
    {% else %}
        <em>No products found.</em>
    {% endif %}
{% endblock %}
