{% extends "layout.html" %}
{% block title %}
    Categories
{% endblock %}
{% block header %}
    {{ self.title() }}
{% endblock %}
{% block main %}
    {% if categories %} 
    {% for category in categories %}
        <div class="category" onclick="gotoURL('{{ url_for('show_products_list_category', category=category.category) }}')">
            <h1 style="text-align: center; tex">{{ category.category }}</h1>
        </div>
    {% endfor %}
    {% else %}
        <em>No categories found, try again later</em>
    {% endif %}
{% endblock %}
