{% extends "layout.html" %}
{% block title %}{{producer.user_name}}'s Products{% endblock %}
{% block header %}{{producer.user_name}}'s Products{% endblock %}
{% block main %}
  {{producer.user_name}}'s products! Click for more information and to add product to cart.
  {% if producer_products %}
    {% for product in producer_products %}
      <div class="product-list" onclick="gotoURL('{{ url_for('show_product', product_id=product.product_id)}}')">
        <div class="product-image" >
          <!-- Image goes here -->
          <span style="width:100%;display:inline-block;vertical-align:center;"> </span>
          <img src="{{ url_for('static', filename='images/laotu-logo.png') }}" style="max-width:100%; max-height:100%; vertical-align:center;">
        </div>
        <div class="product-info" style="font-size: 14px;">
          <div class="product-title">
            <h1>{{ product.title }}</h1>
          </div>
          <div class="product-price">
            <h2>&#165 {{ product.price/100 }}</h2>
          </div>
        </div>
      </div>
    {% endfor %}
    <footer class="panel-footer"><a href="{{ url_for('get_cart')}}">Go to cart</a></footer>
  {% else %}
    <footer class="panel-footer"><em>{{producer.user_name}} currently has no products.</em> <a href="{{ url_for('get_cart')}}">Go to cart</a></footer>
  {% endif %}
{% endblock %}
