{% extends "layout.html" %}
{% block title %}{{producer.user_name}}'s Products{% endblock %}
{% block header %}{{producer.user_name}}'s Products{% endblock %}
{% block main %}
  <!--producer's products. click for more info or to add product to cart-->
  {{producer.user_name}}的产品。 点击获取更多信息并将产品添加到购物车。
  {% if producer_products %}
    {% for product in producer_products %}
      <div class="product-list" onclick="gotoURL('{{ url_for('show_product', product_id=product.product_id)}}')">
        <div class="product-image" >
          <!-- Image goes here -->
          <span style="width:100%;display:inline-block;vertical-align:center;"> </span>
          <img src="{{ url_for('static', filename='images/laotu-logo.png') }}" style="max-width:100%; max-height:100%; vertical-align:center;">
        </div>
        <div class="product-info" style="font-size: 14px;">
          <div class="product-title">
            <h1>{{ product.title }}</h1>
          </div>
          <div class="product-price">
            <h2>&#165 {{ product.price/10 }}</h2>
          </div>
        </div>
      </div>
    {% endfor %}
    <footer class="panel-footer"><a href="{{ url_for('get_cart')}}">去购物车</a></footer>
  {% else %}
    <footer class="panel-footer">
      <!-- producer currently has no products -->
      <em>{{producer.user_name}} 目前没有产品。</em>
      <a href="{{ url_for('get_cart')}}">去购物车</a>
  </footer>
  {% endif %}
{% endblock %}
