{% extends "layout.html" %}
{% block title %}关于{% endblock %}
{% block header %}关于 Laotu{% endblock %}
{% block main %}
	<h1>欢迎来到老挝!</h1>

	<p>“老土”是一家始于美国芝加哥大学Polsky创新中心的公益性组织，</p><p>致力于通过连接城乡来改善中国农村生态和经济、</p><p>传承和激活传统乡土文化。</p>
{% endblock %}

<!--
{% extends "layout.html" %}
{% block title %}
{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>
{% endif %}
Homepage
  {% if request.endpoint == 'public_timeline' %}
    Public Timeline
  {% elif request.endpoint == 'user_timeline' %}
    {{ profile_user.email }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block main %}
	<h1>欢迎来到老挝!</h1>

	<p>“老土”是一家始于美国芝加哥大学Polsky创新中心的公益性组织，</p><p>致力于通过连接城乡来改善中国农村生态和经济、</p><p>传承和激活传统乡土文化。</p>
{% endblock %}-->
