<!DOCTYPE html><html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome{% endblock %} | LaoTu</title>

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen and (min-width: 400px)"/>

    <!-- CSS Page for a mobile screen -->
    <link href="{{ url_for('static', filename='css/style-mobile.css') }}" rel="stylesheet" media="screen and (max-width: 400px)"/>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sidebar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/product_list.css')}}" rel="stylesheet"/>

    <meta content="initial-scale=1, width=device-width" name="viewport"/>

    <!-- Search icon -->
    <link href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='products.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='utility.js') }}"></script>
    <!-- React.JS -->
</head>

<body>
    <div class="container">
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                {% if g.user %}
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{{ url_for('home') }}">
                            老土 LAOTU
                        </a>
                    </li>

                    <div class="searchbar-wrapper">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <form action="/search" method="post">
                           <input id="search" name="search" placeholder="Search products...">
                        </form>
                    </div>


                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('show_products_list') }}">Products</a></li>
                    <li><a href="{{ url_for('stories') }}">Stories</a></li>
                    <li><a href="{{ url_for('get_cart')}}">Cart</a></li>
                    <li><a href="{{ url_for('categories') }}">Categories</a></li>
                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>

                </ul>



                {% else %}
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{{ url_for('home') }}">
                            老土LAOTU
                        </a>
                    </li>
        
                    <div class="searchbar-wrapper">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <form id="search-form" action="/search" method="post">
                           <input id="search" name="search" placeholder="Search products...">
                        </form>
                    </div>

                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('show_products_list') }}">Products</a></li>
                    <li><a href="{{ url_for('categories') }}">Categories</a></li>
                    <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                </ul>
                {% endif %}
            </div>
            <!-- /#sidebar-wrapper -->


            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle" style="position:absolute;z-index:200;top:.63em;left:.63em;"><img src="{{ url_for('static', filename='images/menu-green.png') }}" style="height:1.87em;"></a>

                            <div style="position:absolute;top:0px;left:-25px;width:100%;text-align:center;"><h3>{% block header %}{% endblock %}</h3></div>

                            <div style="position:absolute;z-index:200;top:.63em;right:60px;"><img src="{{ url_for('static', filename='images/laotu-logo-green.png') }}" style="height:1.87em;"></div>

                            {% if get_flashed_messages() %}
                                <div class="flashes" id="flashes" style="display:none;position:absolute;z-index:1000;margin:auto;top:.63em;background: #58DC89;color: #000000;padding: 4px;width: 80%;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                                    {{ get_flashed_messages() | join(" ") }}
                                </div>
                            {% endif %}

                            <br>
                            <br>
                            <main>
                                {% block main %}{% endblock %}
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- jQuery -->
    <script src="{{url_for('static', filename='jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='bootstrap.js')}}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script>
    function handleButtonClick(url) {
        window.open(url, "_self");
    }
    </script>

    <script>
    $(document).ready(function(){
        $("#flashes").slideDown(function() {
            setTimeout(function() {
                $("#flashes").slideUp();
            }, 1700);
        });
    });
    </script>

</body>

</html>
