{% extends "layout.html" %}
{% block title %}
    {% if not producer %}
    产品
    {% else %}
    {{ producer.user_name }}'s Products
    {% endif %}
{% endblock %}
{% block header %}
    {% if not producer %}
    产品
    {% else %}
    {{ producer.user_name }}'s Products
    {% endif %}
{% endblock %}

{% block main %}
  {% if message %}
      <div class="product-list-message"> {{ message }} </div>
  {% endif %}

  {% if tags_list %}
        {% for tag in tags_list %}
            <div class="product-tag" onclick="gotoURL('{{ url_for('show_products_list_tag', tag=tag.name) }}')">
            <h1>{{ tag.name }}</h1>
            </div>
        {% endfor %}
        {% if overflow %}
            <div class="overflow-message" onclick="gotoURL('{{ url_for('show_tags_list_tag', tag=specific_tag.name) }}')">
            <h1>See more tags</h1>
            </div>
        {% endif %}
  {% endif %}

  {% if products_list %}
  <div class="product-list">
  {% for product in products_list %}
    <div class="product-list-item" onclick="gotoURL('{{ url_for('show_product', product_id=product.product_id)}}')">

      <div class="product-image">
        <img src="{{ url_for('static', filename='images/laotu-logo.png') }}" class="product-image-tag">
      </div>

      <div class="product-info">
        <div class="product-title"> {{ product.title }} </div>
        <div class="product-price"> &#165 {{ '%0.2f' | format(product.price/100) }} </div>
        <div class="product-description"> {{ product.description }} </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {% endif %}
{% endblock %}
