{% extends "layout.html" %}
{% block title %}
    {% if not producer %}
    产品
    {% else %}
    {{ producer.user_name }}'s Products
    {% endif %}
{% endblock %}
{% block header %}
    {% if not producer %}
    产品
    {% else %}
    {{ producer.user_name }}'s Products
    {% endif %}
{% endblock %}

{% block main %}
  {% if message %}
      <div class="product-list-message"> {{ message }} </div>
  {% endif %}

  {% if tags_list %}
        {% for tag in tags_list %}
            <div class="product-tag" onclick="gotoURL('{{ url_for('show_products_list_tag', tag=tag.name) }}')">
            <h1>{{ tag.name }}</h1>
            </div>
        {% endfor %}
        {% if overflow %}
            <div class="overflow-message" onclick="gotoURL('{{ url_for('show_tags_list_tag', tag=specific_tag.name) }}')">
            <h1>See more tags</h1>
            </div>
        {% endif %}
  {% endif %}

  {% if products_photos %}
  <div class="product-list">
  {% for p in products_photos %}
    <div class="product-list-item" onclick="gotoURL('{{ url_for('show_product', product_id=p[0].product_id)}}')">

      <div class="product-image">
        {% if p[1] and p[1][0] %}
            <img src="{{ p[1][0] }}" class="product-image-tag">
        {% else %}
            <img src="{{ url_for('static', filename='images/laotu-logo.png') }}" class="product-image-tag">
        {% endif %}
      </div>

      <div class="product-info">
        <div class="product-title"> {{ p[0].title }} </div>
        <div class="product-price"> &#165 {{ '%0.2f' | format(p[0].price/10) }} </div>
        <div class="product-description"> {{ p[0].description }} </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {% endif %}
{% endblock %}
