{% extends "layout.html" %}
{% block title %}登录{% endblock %}
{% block header %}登录{% endblock %}
{% block main %}
	{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>
 	  	<form action="" method="post" class="sleek-form">
 	    	
 	  		{% if errtype=="email" %}
 	    	<input type="text" name="email" class="form-err" value="{{ request.form.email }}" required="true" placeholder="电子邮件">
 	    	{% else %}
 	    	<input type="text" name="email" class="form-text" value="{{ request.form.email }}" required="true" placeholder="电子邮件">
 	    	{% endif %}
 	    	{% if errtype=="password" %}
 		    <input type="password" name="password" class="form-err" value="{{ request.form.email }}" placeholder="密码">
 		    {% else %}
 		    <input type="password" name="password" class="form-password" value="{{ request.form.email }}" placeholder="密码">
 		    {% endif %}
 
 	    	<input type="submit" name="Login" class="form-submit" value="登录">
 		</form>
	{% else %}
		<form action="" method="post" class="sleek-form">
	    	<input type="text" name="email" class="form-text" value="{{ request.form.email }}" required="true" placeholder="电子邮件">

		    <input type="password" name="password" class="form-password" value="{{ request.form.email }}" placeholder="密码">

	    	<input type="submit" name="Login" class="form-submit" value="登录">
		</form>
	{% endif %}


	<footer class="panel-footer">
		没有账户?? <a href="{{ url_for('register')}}">注册</a>
	</footer>
 
{% endblock %}
