{% extends "layout.html" %}
{% block main %}
  <form action="/charge" method="post">
  <article>
    <label>
      <span>Checkout button loading... </span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="Complete your purchase with a card or Alipay"
          data-amount=amount
          data-locale="auto"
          data-alipay="true"
          data-locale="auto"
          data-currency="cny"
          ></script>
</form>
{% endblock %}
