{% extends "layout.html" %}
{% block main %}
	<div style="position:absolute;top:3em;right:60px;">
		<!-- Go to cart -->
		<a href="{{ url_for('get_cart')}}">去购物车</a>
	</div>
	<div class="product_main">
		<div class="product-img">
			<!-- Picture goes here -->
                        {% if photos %}
			<div class="product-img-main">
				<img id="product-image" src='{{ photos[0] }}'>
			</div>
                        {% endif %}
			<div class="product-img-lst">
			{% for photo in photos %}
				{% if photo%}
				<div class="img-lst-element" onclick="updateMainPic('product', '{{ photo }}')">
					<img src="{{ photo }}" style="max-width:100%; max-height:100%; border: 1px solid green; margin:auto; display: block">
				</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<div class="product-info">
			<div class="product-title">
				<h1>{{product.title}}</h1>
			</div>

			<div class="product-price">
				<h2>价钱: &#165 {{ product.price/100 }}</h2>
			</div>
				{% if product.quantity <= 0 %}
					产品缺货。
				{% else %}
					{% if product.quantity <= 5 %}
						<div class="dropdown">
							<button onclick="dropDownQuantity()" class="dropbtn">放在购物车</button>
							<div id="myDropdown" class="dropdown-content">
							{% for number in range(1, product.quantity+1) %}
								<a href="{{ url_for('add_product', product_id=product.product_id, quantity=number)}}">{{number}}</a>
							{% endfor %}
							</div>
						</div>
					{% else %}
						<div class="dropdown">
							<button onclick="dropDownQuantity()" class="dropbtn">放在购物车</button>
							<div id="myDropdown" class="dropdown-content">
								<a href="{{ url_for('add_product', product_id=product.product_id, quantity=1)}}">1</a>
								<a href="{{ url_for('add_product', product_id=product.product_id, quantity=2)}}">2</a>
								<a href="{{ url_for('add_product', product_id=product.product_id, quantity=3)}}">3</a>
								<a href="{{ url_for('add_product', product_id=product.product_id, quantity=4)}}">4</a>
								<a href="{{ url_for('add_product', product_id=product.product_id, quantity=5)}}">5</a>
							</div>
						</div>
					{% endif %}
				{% endif %}
		</div>
	</div>
	{% if stories != [] %}
	<div class="story-container">
		<div id="left-arrow">
			&#8249;
		</div>
		<div class="story-main">
			<img id="story-image" src='{{ stories[0] }}'>
		</div>
		<div id="right-arrow">
			&#8250;
		</div>
	</div>
	{% endif %}

	<div class="standards_container">
		{% if hasStandard %}
		<h1>Laotu Standards</h1>
		{% endif %}
		{% if product.standard_geo %}
		<div class="standard">
			<h2>Geo</h2>
			{{ product.standard_geo }}
		</div>
		{% endif %}
		{% if product.standard_producer %}
		<div class="standard">
			<h2>Producer</h2>
			{{ product.standard_producer }}
		</div>
		{% endif %}
		{% if product.standard_raw %}
		<div class="standard">
			<h2>Raw</h2>
			{{ product.standard_raw }}
		</div>
		{% endif %}
		{% if product.standard_production %}
		<div class="standard">
			<h2>Production</h2>
			{{ product.standard_production }}
		</div>
		{% endif %}
		{% if product.standard_storage %}
		<div class="standard">
			<h2>Storage</h2>
			{{ product.standard_storage }}
		</div>
		{% endif %}
		{% if product.standard_tech %}
		<div class="standard">
			<h2>Tech</h2>
			{{ product.standard_tech }}
		</div>
		{% endif %}
		{% if product.standard_package %}
		<div class="standard">
			<h2>Package</h2>
			{{ product.standard_package }}
		</div>
		{% endif %}
		{% if product.standard_price %}
		<div class="standard">
			<h2>Price</h2>
			{{ product.standard_price }}
		</div>
		{% endif %}
	</div>

	<div class="product_description">
		<h2>Farmer: {{producer.user_name}}</h2>
		点击<a href="{{ url_for('show_farmer', producer_id=producer.producer_id)}}">这里</a>了解更多关于 {{producer.user_name}}.<br>
		所在: {{producer.location}}<br>
		<br>
		{{product.description}}
	</div>



	<script type="text/javascript">
	var story_index = 0;
	var max_page = '{{ maxPage }}';

	function updateMainPic(type, path) {
		if (type=='product'){
			$('#product-image').attr("src", path);
		}
		else {
			$('#story-image').attr("src", path);
		}
	}

	function flip_page(index) {
		switch(index) {
            case 0:
                $('#story-image').attr("src", '{{ stories[0] }}');
                break;
            case 1:
                $('#story-image').attr("src", '{{ stories[1] }}');
                break;
            case 2:
                $('#story-image').attr("src", '{{ stories[2] }}');
                break;
            case 3:
                $('#story-image').attr("src", '{{ stories[3] }}');
                break;
        }
	}
	</script>


{% endblock %}
