{% extends "layout.html" %}
{% block main %}
	<div class="product_title">
		<h1>{{product.title}}</h1>
	</div>

	<a class="add_product" href="{{ url_for('add_product', product_id=product.product_id)
	}}">Add product to cart</a>.
	<a href="{{ url_for('get_cart')}}">Go to cart</a>
	<div class="description">
		<h2>Description</h2>
		Farmer: {{producer.user_name}}<br>
		Location: {{product.location}}<br>
		<br>
		{{product.description}}
	</div>
	<div class="producer">
		<h2 style="font-size: 15px;">Click here to meet your farmer</h2>
	</div>
{% endblock %}
