{% extends "layout.html" %}
{% block main %}
  All the products!
  {% for product in products %}
    <div class="product" onclick="handleProductClick('{{ url_for('show_product', product_id=product.product_id)}}')">
      <div style="height: 30px; font-size: 14px;">
        <h1>{{ product.title }}</h1>
        <h2 style="font-size: 15px;">&#165 {{ product.price/100 }}</h2>
      </div>
    </div> 
  {% else %}
    <em>There are no products so far.</em>
  {% endfor %}
  <a href="{{ url_for('get_cart')}}">Go to cart</a>
{% endblock %}
