{% extends "layout.html" %}
{% block title %}产品{% endblock %}
{% block header %}产品{% endblock %}
{% block main %}
  所有的产品! 点击获取更多信息并将产品添加到购物车。
  <div class="product-cart-link">
    <h1><a href="{{ url_for('get_cart')}}">去购物车</a></h1>
  </div>
  {% if products_list %}
  <ul>
  {% for product in products_list %}
    <li class="product-list" onclick="gotoURL('{{ url_for('show_product', product_id=product.product_id)}}')">
      <div class="product-image">
        <img src="{{ url_for('static', filename='images/laotu-logo.png') }}" class="product-image-tag">
      </div>

      <div class="product-info">
        <div class="product-title"> {{ product.title }} </div>
        <div class="product-price"> &#165 {{ '%0.2f' | format(product.price/100) }} </div>
        <div class="product-description"> {{ product.description }} </div>
      </div>
    </li>
    </div>
  {% endfor %}
  </ul>
  {% else %}
    <em>There are no products so far</em>
  {% endif %}
{% endblock %}
