{% extends "layout.html" %}
{% block title %}Products{% endblock %}
{% block body %}
	<div id="products"></div>

	<script type="text/jsx">
		var Product = React.createClass({
		  render: function() {
		      return (
		        <div className="product">
		          <span className="category">
		            {this.props.category}
		          </span>
		          <span className="quantity">
		            {this.props.quantity}
		          </span>
		          <span className="price">
		            {this.props.price}
		          </span>
		          <span className="location">
		            {this.props.location}
		          </span>
		          <span className="producer_id">
		            {this.props.producer_id}
		          </span>
		          <span className="description">
		            {this.props.children}
		          </span>
		          <img src="{{ url_for('static', filename='thinking.jpg') }}" width="50" height="50"/>
		        </div>
		      );
		  }
		});

		var ProductList = React.createClass({
		  loadProductsFromServer: function() {
		    //We're going to hard-code this information for testing purposes.
		    var products = [
		      {
		          "category": "Fruit",
		          "quantity": "1",
		          "price":"$100"
		          "location":"Hong Kong"
		          "producer_id":"5"
		          "description": "This is an apple"
		      },
		      {
		        "category": "Vegetable",
		          "quantity": "1",
		          "price":"$100"
		          "location":"Hong Kong"
		          "producer_id":"4"
		          "description": "This is a carrot"
		      },
		      {
		        "category": "Nut",
		          "quantity": "1",
		          "price":"$100"
		          "location":"Hong Kong"
		          "producer_id":"7"
		          "description": "This is a peanut"
		      }
		    ];
		    this.setState({products: products});
		  },

		  getInitialState: function(){
		    var products = [];
		    
		    return {
		      products: products
		    }
		  },

		  componentDidMount: function() {
		    this.loadProductsFromServer();
		  },

		  render: function() {
		    var productNodes = this.state.products.map(function(product, index) {
		      return (
		        <Product
		          key={index}
		          id={index}
		          category={product.category}
		          quantity={product.quantity}
		          price={product.price}
		          location={product.location}
		          producer_id={product.producer_id}
		        >
		          {product.description}
		        </Product>
		      );
		    });
		    return (
		      <div className="productList">
		        {productNodes}
		      </div>
		    );
		}
		});

		var Category = React.createClass({
			handleclick: function(e) {
				e.preventDefault();
				//TODO: make request to server for products of that category and display
			}
			render: function() {
				return(
					<div class="product" onClick={handleclick}>
						<h1>All</h1>
					</div>
					<div class="product" onClick={handleclick}>
						<h1>Fruit</h1>
					</div>
					<div class="product" onClick={handleclick}>
						<h1>Vegetables</h1>
					</div>
					<div class="product" onClick={handleclick}>
						<h1>Nuts</h1>
					</div>
				);
			}
		});

		React.render(<ProductList />, document.getElementById('products') );
	</script>
{% endblock %}
