{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block header %}Sign Up{% endblock %}
{% block main %}
  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method="post" class="sleek-form">
    <input type="text" name="name" class="form-text" value="{{ request.form.name }}" placeholder="Name">
    <input type="text" name="email" class="form-text" value="{{ request.form.email }}" placeholder="Email">
    <input type="password" name="password" class="form-password"   placeholder="Password">
    <input type="password" name="password2" class="form-password"   placeholder="Confirm Password">
    <input type="text" name="address" class="form-text" value="{{ request.form.address }}" placeholder="Address">
    <input type="text" name="phone" class="form-text" value="{{ request.form.phone }}" placeholder="Phone">
    <div class="actions"><input type="submit" value="Sign Up"></div>
  </form>
{% endblock %}
